

SQLAlchemy==2.0.29
sqlparse==0.4.2

tomli==2.0.1
tomlkit==0.12.5
toolz==0.12.1
tornado==6.4
tqdm==4.66.4
traitlets==5.14.3
transformers==4.41.2
typeguard==4.2.1
typer==0.9.4
types-python-dateutil==2.9.0.20240316
typing-inspect==0.9.0
tzdata==2024.1
tzlocal==5.2
ubuntu-drivers-common==0.0.0
ubuntu-pro-client==8001
ucimlrepo==0.0.7
ufw==0.36.1
unattended-upgrades==0.1
uri-template==1.3.0
urllib3==1.26.5
usb-creator==0.3.7
validators==0.28.3
virtualenv==20.13.0+ds
virtualenv-clone==0.3.0
visions==0.7.6
websocket-client==1.8.0
Werkzeug==3.0.2
wordcloud==1.9.3
WTForms==3.1.2
